.u-section-1 {
  background-image: url("images/tumblr_md1q9bnrbJ1r9uwqao1_500.gif");
  background-position: 50% 27.87%;
}

.u-section-1 .u-sheet-1 {
  min-height: 396px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-family: Iceberg;
  margin: 130px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Kanit;
  margin: 52px auto 53px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 798px;
}

.u-section-2 .u-text-1 {
  font-family: "Big Shoulders Display";
  font-size: 3.75rem;
  background-image: none;
  width: 329px;
  margin: 28px auto 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 143px;
  width: 274px;
  margin: 376px auto 0;
}

.u-section-2 .u-group-1 {
  width: 1470px;
  min-height: 417px;
  margin: -366px auto 0 -1902px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 326px;
  grid-gap: 17px 17px;
  width: 958px;
  margin: -542px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 38.04%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-2 {
  object-position: 22.45% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-bottom: 0;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 143px;
  margin: 14px 760px 60px 110px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 320px;
    width: 940px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: 10px;
    margin-right: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-2 .u-gallery-1 {
    height: 735px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: 0;
    margin-right: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2126px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1654px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1041px;
    width: 340px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 70px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 857px;
}

.u-section-3 .u-image-1 {
  width: 209px;
  height: 110px;
  margin: 196px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: Kanit;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-family: Kanit;
  font-size: 1.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 27px auto 0;
  padding: 10px 51px 12px 50px;
}

.u-section-3 .u-image-2 {
  width: 191px;
  height: 128px;
  animation-duration: 120000ms;
  margin: 280px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    letter-spacing: normal;
  }
}